/*-- scss:defaults --*/

// fonts

$font-family-sans-serif: "Avenir", sans-serif;
$presentation-font-size-root: "28px";
$presentation-heading-color: #5B888C;
$presentation-title-slide-text-align: "left";
$code-block-font-size: 0.8em;
$font-family-monospace: "Fira Code";

/*-- scss:rules --*/
